body{
    font-family: 'Roboto', sans-serif;
    margin:auto;
    padding:0;
    background-color:#E5E5E5;
}
.item-header{
    width: 1600px;
    height: 80px;
    font-size:14px;
    font-weight: 500;
    letter-spacing: 2%;
}
:root{
    --color:blue;
}
.web{
    font-family: 'Raleway', sans-serif;
    color:var(--color);
    font-size:26px;
    font-weight:700;
    letter-spacing: 3%;
}
.studio{
    font-family: 'Raleway', sans-serif;
    font-size:26px;
    font-weight:700;
}
.ithem-header{
    display:flex;
    font-style: normal;
    text-decoration: none;
}
.list{
    list-style: none;
    text-decoration: none;
    margin:20px;
    

}
.nav{
    display:flex;
     margin:30px;
     text-align:center;
}
.contact{
    display:flex;
}
/* część main */

.main-center{
    width:1600px;
    height:252px;
    background-color:#2F303A;
}

.image-box{
    display:flex;
}

footer{
    font-family: 'Raleway', sans-serif;
    background-color:#2F303A;
    width:1600px;
    height:252px;
}
