body{
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight:500;
    margin:auto;
    padding:0;
    background-color:#fff;
}
.item-header{
    width: 1600px;
    height: 80px;
    display:flex;
}
.logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em; 
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    margin-top:24px;
    margin-left:215px;
    display:flex;
    }

:root{
    --blue:#2196f3;
    --white:#E5E5E5;
    --black:#2F303A;
   
}
.web{
    color:var(--blue);
}
.logo-link{
    text-decoration: none;
    color:black;
}
.logo-link:hover{
    color:var(--black);
}
.list{
    display:flex;
    text-decoration: none;
  

}
.nav{
    position: absolute;
    top:32px;
    left:465px;  
}
.contact{
    display:flex;
    text-decoration:none;
    position: absolute;
    top:32px;
    left:1078px;
}

/* część main */


 .button{ 
    line-height: 1.6;
    padding:1.6;
}
.img{
    display:flex;
}
.number{
    display:flex;
}
/* footer */
.item-footer{
    font-family: 'Raleway', sans-serif;
    background-color:var(--black);
    color:var(--white);
    width:1600px;
    height:252px;
    margin:20px;
    padding:60px;
   
}
.link-footer{
    text-decoration:none;
}
.footer-list{
    list-style:none;
    padding:20px;
}
.address-text{
    margin:20px;
   
}