body{
    font-family: 'Roboto', sans-serif;
    margin:auto;
    padding:0;
    background-color:#E5E5E5;
}
:root{
    --color:blue;
}
.web{
    color:var(--color);
    font-size:34px;
}
.studio{
    font-size:34px;
}
.ithem-header{
    display:flex;
    font-style: normal;
    text-decoration: none;
}
.list{
    list-style: none;
    text-decoration: none;
    margin:20px;
    float:left;;
}
.nav{
    display:flex;
     margin:30px;
     text-align:center;
}
.contact{
    display:flex;
}
/* część main */

.main-center{
    width:1600px;
    height:252px;
    background-color:#2F303A;
}
footer{
    font-family: 'Raleway', sans-serif;
    background-color:#2F303A;
    width:1600px;
    height:252px;
}
